#products {
  max-width: 1460px;
  padding: 50px 30px;
  margin: 0 auto;
  .products__header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    font-family: Jost, snat-serif;
    padding-bottom: 50px;
    &_left {
      h1 {
        font-size: 27px;
      }
    }
    &_right {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      opacity: 1;
      p {
        color: #ef262c;
        font-size: 14px;
        font-weight: 600;
      }
      i {
        color: #ef262c;
      }
    }
  }
}
@media (max-width: 575.98px) {
  #products {
    .products__header {
      &_right {
        display: none;
      }
    }
  }
}
