.productscard {
  border: 1px solid rgb(241, 241, 241);
  height: 480px;
  font-family: Jost, snat-serif;
  display: flex;
  flex-direction: column;
  margin: 10px;
  &__img {
    margin-top: 35px;
  }
  &__info {
    padding-left: 10px;
    padding-top: 20px;
    &_category {
      font-size: 12px;
      a {
        color: gray;
        padding-right: 5px;
      }
    }
    &_name {
      color: #031424;
      padding: 5px 0px;
      cursor: pointer;
    }
    &_price {
      padding-top: 5px;
      cursor: pointer;
      ul {
        height: 25px;
        overflow: hidden;
        li {
          color: #0070dc;
          font-weight: 700;
          height: 25px;
          opacity: 1;
          transition: 400ms;
        }
        &:hover {
          li:first-of-type {
            opacity: 0;
          }
          li:last-of-type {
            transform: translateY(-25px);
          }
        }
      }
    }
  }
}
