.superd__card {
    border: 1px solid #e7e7e7;
    width: 35%;
    height: 550px;
    border-radius: 10px;
    padding: 40px;
    padding-bottom: 30px;
    display: flex;
    justify-content:center ;
    flex-direction: column;
  .superd__card__detail {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    
    .superd__card__detail_text {
        
      .superd__basket__cat {
        font-size: 12px;
        color: #7777;
        font-weight: lighter;
        margin-bottom: 10px;
      }
      .superd__basket__name {
        font-size: 16px;
        color: #031424;
        margin-bottom: 10px;
      }
      span {
        color: #0070dc;
        font-size: 16px;
        font-weight: bold;
      }
    }
    .superd__basket__icon {
      width: 55px;
      height: 55px;
      background-color: #00a046;
      border-radius: 4px;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: 500ms;
     

      i {
        color: #ffff;
        padding: 17px;
        
      }
    }
    .superd__basket__icon:hover{
        background-color: #fcb900;
        box-shadow: rgba(255, 157, 0, 0.884) 0px 54px 55px,
        rgba(255, 153, 0, 0.696) 0px -12px 30px, rgba(255, 153, 0, 0.499) 0px 4px 6px,
        rgba(255, 157, 0, 0.381) 0px 12px 13px,rgba(255, 159, 5, 0.353) 0px -3px 5px;
    }
  }
}
@media only screen and (max-width: 1000px) {
  .superd__card {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
}