#footer {
    background-color: #031424;
    font-family: 'Jost', sans-serif;
    padding-top: 50px;
    .footer_content{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: auto;
        max-width: 1460px;
    }
}
@media (min-width: 320px) and (max-width:767px) {
    #footer {
        .footer_content{
            flex-direction: column;
        }
    }
}

@media (min-width: 768px) and (max-width:1024px) { 
    #footer {
        .footer_content{
            flex-direction: column;
        }
    }
}